body {
    direction: ltr;
    background-color: #495867;
    color: #F1F7ED;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.yiddish {
    direction: rtl;

}

.english {
    direction: ltr;
}

.centered {
    text-align: center;
}

/*project gallery*/

.project-container {
    display: flex;
    max-height: 900rem;
    align-content: center;
    margin: 0.5rem;
}

figure {
    width: 25rem;
    border: black solid;
    text-align: justify;
    margin: 0.5rem;

}

figure img {
    margin-bottom: 1rem;
    width: 100%;
    height: 80%;
    z-index: 1;
}


figcaption {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

/* @media screen and (min-width: 768px) {
    .project-container{
        flex-wrap: wrap;
}     */

@media screen and (min-width: 1224px) {
    
    body {
        font-size: 2rem;
    }

    nav {
        z-index: 2;
    }
   

    h2 {
        padding-top: 15rem;
    }

    .project-container {
        max-height: 900rem;
    }

    figure {
        max-width: 20%;
    }

    figcaption {
        padding: 0;
        font-size: 1.2rem;
    }

    figure img {
        background-color:lightblue;
        filter: grayscale(100%);
        max-height: 20rem;
        z-index: 1;
    }
    
    figure img:hover {
        filter: grayscale(0%);
    }
    
figure:hover {
    background-color: #E4572E;
   }
}




header {
    border: black solid;
    color:#E4572E;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

h1 {
    color: #E4572E;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    word-spacing: 0.3rem;
    text-align: center;
}


nav {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-around;

}

.yiddish-container {
    flex-flow: row-reverse wrap;
  }

.english-container {
    flex-flow: row wrap;
  }

nav a {
    font-size: 2.6vw;
    padding: 1rem;
    text-transform: uppercase;
    color: black;
}

main {
    margin: 1rem;
}

h2 {
    padding-top: 15rem;
}

.button-wrapper {
    text-align: center;
    flex-wrap: wrap;
}

button {
    background-color: #E4572E;
    color: black;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px;
    text-transform: uppercase;
    display: inline;
    text-align: center;
}



.hidden {
    display: none;
    
}
.visible {
    display: block;
}

.centered {
    text-align: center;
}

main a {
    color: white;
}


/* find me */

footer {
    text-align: center;
    background-color: #E4572E;
}

.link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.profile-img-link {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 180px;
}