body {
    direction: ltr;
    background-color: #495867;
    color: #F1F7ED;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    border: black solid;
    color:rgb(207, 103, 17);
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    
}

h1 {
    color: #E4572E;
    text-transform: uppercase;
}


nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    z-index: 2;
}

nav a {
    font-size: 0.8rem;
    padding: 1rem;
    text-transform: uppercase;
    color: black;
}

main {
    margin: 1rem;
}

h2 {
    padding-top: 10rem;
}

.button-wrapper {
    text-align: center;
    flex-wrap: wrap;
}

button {
    background-color: #E4572E;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px;
    text-transform: uppercase;
    display: inline;
    text-align: center;
}

.yiddish {
    direction: rtl;
    text-align: right;
}

.english {
    direction: ltr;
    text-align: left;
}

.hidden {
    display: none;
    
}
.visible {
    display: block;
}

.centered {
    text-align: center;
}

main a {
    color: white;
}




/*project gallery*/

.project-container {
    display: flex;
    flex-flow: row wrap;
    max-height: 250rem;
    align-content: center;
    margin: 0.5rem;
}

figure {
    width: 25rem;
    border: black solid;
    text-align: center;
    margin: 0.5rem;

}

figure img {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    z-index: 1;
}


figcaption {
    font-weight: bold;
    font-size: 1.5rem;

}

/* @media screen and (min-width: 768px) {
    .project-container{
        flex-wrap: wrap;
}     */

@media screen and (min-width: 1224px) {
    
    body {
    
        font-size: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    h2 {
        padding-top: 15rem;
    }

    .project-container {
        max-height: 900rem;
    }

    figure {
        max-width: 20%;
    }

    figure img {
        background-color:lightblue;
        filter: grayscale(100%);
        max-height: 30rem;
        z-index: 1;
    }
    
    figure img:hover {
        filter: grayscale(0%);
    }
    
figure:hover {
    background-color: rgb(207, 103, 17);
   }
}





/* find me */

.link-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.profile-img-link {
    width: 5rem;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 180px;
}