body {
    direction: ltr;
    background-color: #495867;
    color: #F1F7ED;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

header {
    border: black solid;
    color:rgb(207, 103, 17);
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    
}

h1 {
    color: #E4572E;
    text-align: center;
    text-transform: uppercase;
}


nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    display: inline;
    font-size: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    color: black;

}

main {
    margin: 1rem;
}

h2 {
    padding-top: 10rem;
}

.button-wrapper {
    text-align: center;
    flex-wrap: wrap;
}

button {
    background-color: #E4572E;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px;
    text-transform: uppercase;
    display: inline;
    text-align: center;
}

.yiddish {
    direction: rtl;
    text-align: right;
}

.english {
    direction: ltr;
    text-align: left;
}

.hidden {
    display: none;
    
}
.visible {
    display: block;
}

main a {
    color: white;
}




/*project gallery*/

.project-container {
    display: flex;
    flex-flow: column wrap;
    max-height: 200rem;
    /* background-color: dodgerblue; */
    align-content: center;
    margin: 0;
    padding: 0.5rem;
}

figure {
    min-width:100%;
    /* border: black solid; */
    text-align: left;
    flex-wrap: wrap;
}

figure img {
    margin-bottom: 1rem;
    max-width: 100%;
    height: auto;
}


figcaption {
    font-weight: bold;
    font-size: 1.5rem;

}

/* @media screen and (min-width: 768px) {
    .project-container{
        flex-wrap: wrap;
}     */

@media screen and (min-width: 1224px) {
    
    figure img {
        background-color:lightblue;
        filter: grayscale(100%);
    }
    
    figure img:hover {
        filter: grayscale(0%);
    }
    
figure:hover {
    background-color: rgb(207, 103, 17);
   }
}





/* about me */


.profile-img-link {
    width: 8rem;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 180px;
}